/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.default-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 100%;
    max-width: 100%;
}